

/* Generelle stilarter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  body {
    background-color: #F8F5E2; /* Lys beige */
    color: #F8F5E2;
  }
  
  /* Farver fra forside.css */
  :root {
    --primary-color: #F8F5E2; /* Lys beige */
    --secondary-color: #7D9A6C; /* Mørkegrøn */
    --tertiary-color: #F9F6E8; /* Lysere beige */
    --accent-color1: #769DC0; /* Himmel blå */
    --accent-color2: #FCF0BC; /* Smør gul */
    --text-color: #3C3D36; /* Mørkegrå */
    --btn-color: #fff; /* Hvid */
  }

  h1 {
    font-family: 'Lora', serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 35px;
    color: #3C3D36;

  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    color: #3C3D36;
  }

    h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    color: #3C3D36;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #3C3D36;
  }

  buttons, .btn-blue {
  background-color: var(--accent-color1); /* #769DC0 */
  color: var(--btn-color); /* #fff */
  font-family: 'Quicksand', sans-serif;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

buttons:hover, .btn-blue:hover {
  background-color: var(--accent-color2); /* #F9F6E8 */
    color: var(--text-color); /* #3C3D36 */
}