

/* Generelle stilarter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  body {
    background-color: #F8F5E2; /* Lys beige */
    color: #F8F5E2;
  }
  
  /* Farver fra forside.css */
  :root {
    --primary-color: #F8F5E2; /* Lys beige */
    --secondary-color: #7D9A6C; /* Mørkegrøn */
    --tertiary-color: #F9F6E8; /* Lysere beige */
    --accent-color1: #769DC0; /* Himmel blå */
    --accent-color2: #FCF0BC; /* Smør gul */
    --text-color: #3C3D36; /* Mørkegrå */
    --btn-color: #fff; /* Hvid */
  }

  /* Typografi */
  
  h1 {
    font-family: 'Lora', serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    color: #3C3D36;

  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    color: #3C3D36;
  }

  h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    color: #3C3D36;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #3C3D36;
  }

  /* Buttons */

  buttons, .btn-blue {
  background-color: var(--accent-color1); /* #769DC0 */
  color: var(--btn-color); /* #fff */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;  
  width: 130px;
  text-align: center;

  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
  
  text-decoration: none;
  display: inline-block;
  margin: 2rem 0rem;
  transition: background-color 0.3s ease;
}

.btn-light {
  background-color: var(--btn-color); /* #fff */
  color: var(--text-color); /* #3C3D36 */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
   width: 130px;
  text-align: center;
  
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
  
  text-decoration: none;
  display: inline-block;
  margin: 2rem 0rem;
  transition: background-color 0.3s ease;
}

.btn-no-fill {
  color: var(--btn-color); /* #fff */
  background-color: transparent; /* Ingen baggrundsfarve */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 130px;
  text-align: center;
  
  border: 2px solid var(--btn-color); /* #fff */
  /* Ingen fyldfarve */
  border-radius: 20px;
  padding: 12px 24px;
  cursor: pointer;
  
  text-decoration: none;
  display: inline-block;
  margin: 2rem 0rem;
  transition: background-color 0.3s ease;
}

.buttons:hover, .btn-blue:hover, .btn-light:hover {
  background-color: var(--accent-color2); /* #F9F6E8 */
    color: var(--text-color); /* #3C3D36 */
}

.btn-no-fill:hover {
  background-color: var(--btn-color); /* #fff */
  color: var(--text-color); /* #3C3D36 */
}

/* Buttons
.buttons {
    display: flex;
    gap: 30px;
    justify-content: left;
    align-items: center;
    margin: 2rem 15rem;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens 

}

.btn-light {
    padding: 12px 24px;
    width: 130px;
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color) !important;
    background-color: #fff !important;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center;
    display: inline-block;
    justify-content: left;
}

.btn-light:hover {
    background-color: var(--accent-color2) !important;
} */
