/* produkt.css */

/* Generelle stilarter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* produkt sektion */

.sektion1 {
    height: 100vh; /* Gør sektionen fuld højde */;
    display: flex;
    position: relative;
    align-items: center; /* Centrerer indholdet vertikalt */
    justify-content: left; /* Centrerer indholdet horisontalt */
    overflow: hidden;

} 




/* sektion2 - citat */

.sektion2 {;
    background-color: var(--secondary-color);
    height: 40vh; 
    display: flex;
    position: relative;
    align-items: center; /* Centrerer indholdet vertikalt */
    justify-content: center; /* Centrerer indholdet horisontalt */
}

.container-sektion2 {
    width: 80%;
    max-width: 1200px;
    text-align: center; /* Centrerer teksten */
}